## Importing Libraries

In [1]:
import pandas as pd

## Load Dataset

In [2]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

## Split Data

In [4]:
x = df.drop("price",axis=1)
y = df['price']

print("Shape of x : ",x.shape)
print("Shape of y : ",y.shape)

Shape of x :  (7120, 107)
Shape of y :  (7120,)

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=51)

print("Shape of x_train :", x_train.shape)
print("Shape of y_train :", y_train.shape)
print("Shape of x_test :", x_test.shape)
print("Shape of y_test :",y_test.shape)

Shape of x_train : (5696, 107)
Shape of y_train : (5696,)
Shape of x_test : (1424, 107)
Shape of y_test : (1424,)

## K Nearest Neighbor Regression - ML Model Training

In [6]:
from sklearn.neighbors import KNeighborsRegressor
 
regressor = KNeighborsRegressor(n_neighbors=5)
regressor.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [7]:
regressor.score(x_test,y_test)

0.8858213777326956

## ## Predict the value of Home

In [8]:
data = x_test.iloc[-1,:]

In [9]:
regressor.predict([data])

array([184.4])

In [10]:
y_test.iloc[-1]

180.0

## ## Predict the value of multiple houses

In [11]:
y_pred = regressor.predict(x_test)
y_pred

array([ 77.378,  39.808, 120.2  , ...,  33.405,  63.   , 184.4  ])